.header {
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include md {
    padding: 0.8rem 0;
    display: flex;
    flex-direction: column;
  }
}

.logo {
  width: 4.5rem;
}

img {
  width: 100%;
  height: auto;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.avatarImg {
  width: 3.2rem;
  padding-right: 0.8rem;
  box-sizing: border-box;
}

.avatarText {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: rgba(100, 100, 100, 1);
}

.button {
  border: none;
  padding: 0;
  background: transparent;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lg {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0.9rem;
  @include md {
    margin: 0.5rem;
  }
}

.link {
  color: rgba(39, 39, 39, 1);
  font-weight: 400;
  text-decoration: none;

  @include md {
    font-size: 1rem;
  }
}

.imgSearch {
  width: 100%;
  height: auto;
}

.list {
  display: flex;
  justify-content: space-between;
  margin: 0 1.2rem;
}

.flexButtonsAvatar {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
