.footer {
  background-color: rgba(0, 7, 27, 1);
  color: #fff;
  padding: 2rem;
}

.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.bottomText {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  @include sm {
    font-size: 0.6rem;
  }
}

.footerColumns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-left: 0.5rem;
  margin-bottom: 2rem;

  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
}

.footerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 8rem;
  margin-top: 1rem;
}

.imgIcons {
  margin: 0.5rem;
}

.footerItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 3.5rem;
  margin-right: 1.3rem;
  flex: 20%;
}

.footerLink {
  margin-bottom: 1rem;
  text-decoration: none;
  color: #fff;
}

.itemTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;

  @include sm {
    font-size: 0.5rem;
  }

  @include md {
    font-size: 1.3rem;
  }
}

.footerTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1.3rem;

  @include sm {
    justify-content: center;
  }
}

.footerLogo {
  width: 5rem;
  margin-right: 2rem;

  @include sm {
    width: 2.5rem;
  }
}

.footerName {
  font-size: 4.5rem;
  font-weight: 700;

  @include sm {
    font-size: 2.5rem;
  }
}

.mail {
  width: 1rem;
  pointer-events: none;
}
