.footer {
  background-color: rgba(0, 7, 27, 1);
  color: #fff;
  padding: 2rem;
}
.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }
}

.bottomText {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  @include sm {
    font-size: 0.6rem;
  }
}
.footerColumns {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-left: 0.5rem;
  margin-bottom: 2rem;

  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
  @include md {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
  }
}
.footerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
  margin: 0 auto;
  max-width: 100%;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 8rem;
  margin-top: 1rem;
}

.imgIcons {
  margin: 0.5rem;
}

.footerItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 3.5rem;
  margin-right: 1.3rem;
  flex: 20%;
}
.footerLink {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1.5rem;
  text-align: left;
  line-height: 1.2rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.itemTitle {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;

  @include sm {
    font-style: italic;
    font-size: 0.5rem;
  }
  @include md {
    font-size: 1.3rem;
    font-style: italic;
  }
}
.footerTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.3rem;

  @include sm {
    justify-content: center;
  }
}
.footerLogo {
  width: 5rem;

  @include sm {
    min-width: 2.5rem;
  }
}

.footerName {
  font-size: 4.5rem;
  font-weight: 700;
  text-align: left;
  padding-left: 2rem;

  @include sm {
    font-size: 3rem;
  }
}

.enterMail {
  border: 1px solid rgba(171, 171, 171, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;
  font-size: 0.8rem;

  @include md {
    font-size: 0.4rem;
  }
}

.mail {
  background-color: rgba(0, 7, 27, 1);
  color: aliceblue;
  border: none;
  outline: none;
  padding: 0.5rem;
  width: 100%;
}

.envelopeImg {
  width: 2rem;
  height: 1rem;
  background: url(/images/mail.svg) no-repeat center;
  background-size: auto 65%;
  background-color: rgba(0, 7, 27, 1);
}
