.footer {
  background-color: rgba(0, 7, 27, 1);
  color: #fff;
  padding: clamp(10px, 1.5vw, 30px);
}
.bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  flex: 30%;

  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-left: 6rem;
  }
}

.bottomText {
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  @include sm {
    font-size: 0.6rem;
  }
}
.footerColumns {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-left: 6rem;
  margin-bottom: 2rem;

  @include sm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.footerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 3%;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}

.imgIcons {
  margin: 5%;
}

.footerItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding-top: 1rem;
  box-sizing: border-box;
  margin-right: 1.3rem;
  flex: 20%;
}

.itemTitle {
  font-size: 2vw;
  font-weight: 700;
  text-align: left;

  @include sm {
    font-style: italic;
    font-size: 4vw;
  }
}

.footerLogo {
  width: 5vw;
  height: auto;
  margin-bottom: 1vh;
}

.img {
  width: 100%;
  height: auto;
}

.footerName {
  font-size: 6vw;
  font-weight: 700;
  text-align: left;
  padding-left: 2rem;

  @include sm {
    font-size: 6vw;
  }
}

.footerLink {
  font-size: 1.3vw;
  font-weight: 400;
  margin-top: 2vw;
  text-align: left;
  line-height: 1.8vw;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);

  @include sm {
    justify-content: center;
    font-size: 10px;
    line-height: 3vw;
  }
}

.footerTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  @include sm {
    justify-content: center;
  }
}

.enterMail {
  border: 1px solid rgba(171, 171, 171, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 0.9rem;

  @include md {
    font-size: 0.4rem;
  }
}

.mail {
  background-color: rgba(0, 7, 27, 1);
  color: aliceblue;
  border: none;
  outline: none;
  padding: 0.5rem;

  @include md {
    padding: 0.1rem;
  }
}

.envelopeImg {
  width: 5vw;
  height: 4vh;
  background: url(/images/mail.svg) no-repeat center;
  background-size: auto 65%;
  background-color: rgba(0, 7, 27, 1);
}
