.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(249, 250, 255, 1);
  padding: 0.9rem;
}

.container {
  position: relative;
}

.content {
  display: flex;
  justify-content: center;
}

.buttonBanner {
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  padding: 0.6rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.closeImg {
  width: 1rem;
}

.linkBanner {
  margin-left: 1.1rem;
  color: rgba(0, 57, 143, 1);
  text-decoration: none;
}
