@import "modern-normalize";
@import "swiper";
@import "./css-variables.scss";

a {
  color: #000;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
  font-size: 1rem;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 1rem;

  @include md {
    padding: 0 2.5rem;
  }

  @include lg {
    padding: 0 2.5rem;
  }
}

hr {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 100%;
}
