@import "modern-normalize";
@import "swiper";
@import "./css-variables.scss";

body {
  font-family: "Libre Baskerville", serif;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 1rem;

  @include md {
    padding: 0 2.5rem;
  }

  @include lg {
    padding: 0 2.5rem;
  }
}

hr {
  border: 1px solid rgba(255, 255, 255, 1);
  width: 100%;
}

.img {
  width: 100%;
  height: auto;
}
