.wrapper {
  margin-bottom: 3rem;
  display: flex;
  max-height: 100%;
  max-width: 100%;
}

.slide {
  max-height: 700px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgTextPrada {
  width: 100%;
  height: auto;
}

.foreverTitle {
  font-size: 4.4rem;
  letter-spacing: 0.4rem;
  font-family: "Roboto Condensed", sans-serif;
  word-wrap: break-word;

  @include sm {
    font-size: 1.5rem;
  }
  @include md {
    font-size: 2.3rem;
  }
  @include lg {
    font-size: 2.6rem;
  }
}

.container {
  max-height: 100%;
  min-width: 100%;
  background: url(/slides/background_prada.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.girlPrada {
  width: 50%;
  height: 100%;
  display: flex;
}

.imgGirl {
  width: 100%;
  height: auto;
}

.backgroundPrada {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 5rem;
  color: #565656;
  padding: 1rem;

  @include sm {
    font-size: 1.3rem;
    line-height: 3rem;
  }
  @include md {
    font-size: 2rem;
    line-height: 4rem;
  }
}

.textPrada {
  width: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundGirl {
  background: url(/slides/girl_in_red.jpg) no-repeat center;
  background-size: cover;
  min-width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;

  @include sm {
    font-size: 1.3rem;
    line-height: 3rem;
  }
  @include md {
    font-size: 2rem;
    line-height: 4rem;
  }
}

.flexDark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerForever21 {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a4242;
}

.textForever21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 5rem;
  text-align: center;

  @include sm {
    font-size: 1.3rem;
    line-height: 3rem;
  }
  @include md {
    font-size: 2rem;
    line-height: 4rem;
  }
}

.girlForever21 {
  width: 55%;
  display: flex;
}

.girlForever21Img {
  width: 100%;
  height: auto;
}
